<div id="hero-body">
    <div id="hero-content">
    <h1>Hi, I'm Liam.</h1>
    <p>I'm the Director of Product Design for <a href="https://quickbooks.intuit.com/">QuickBooks</a> Accounting & Accountants at Intuit. Prior to Intuit, I led the design teams for <a href="https://www.liamgreig.com/work/trello/">Trello</a> and <a href="https://www.liamgreig.com/work/confluence/">Confluence</a> at Atlassian.</p>
    <p>In between roles, I enjoy helping design teams reach their potential as a fractional design leader at <a href="https://www.domake.co/">Do Make Design</a>.</p>
    <p id="hero-last-p"><a target="_blank" title="Email Liam" href="https://linkedin.com/in/liamgreig">Get in touch</a> to learn more about my work and selected case studies.</p>
    <!--Call to Action-->
    <div id="get-in-touch">
    <a href="https://linkedin.com/in/liamgreig" id="hero-button" class="button scrollto">GET IN TOUCH</a>
    </div>
    <!--End Call to Action-->
    </div>
</div>