<div id="hero-body">
    <div id="hero-content">
    <h1>Hi, I'm Liam.</h1>
    <p>I'm the former Head of Design of <a target="_blank" title="Trello" href="https://trello.com/">Trello</a> and <a target="_blank" title="Confluence" href="https://www.atlassian.com/software/confluence">Confluence</a> at Atlassian. Prior to Atlassian I was leading design teams at <a target="_blank" title="Electronic Arts" href="https://www.ea.com/">Electronic Arts</a> and <a target="_blank" title="Ubisoft" href="https://www.ubisoft.com/en-ca/">Ubisoft</a>.</p>
    <p>For the past year I've been helping design teams reach their potential as a fractional design leader at <a target="_blank" title="Do Make Design" href="https://www.domake.co/">Do Make Design</a></p>
    <p id="hero-last-p"><a target="_blank" title="Email Liam" href="mailto:liam@liamgreig.com">Get in touch</a> to learn more about my work and selected case studies.</p>
    <!--Call to Action-->
    <div id="get-in-touch">
    <a href="mailto:liam@liamgreig.com" id="hero-button" class="button scrollto">GET IN TOUCH</a>
    </div>
    <!--End Call to Action-->
    </div>
</div>