---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
<div class="work-showcase">
  <h2>Case studies</h2>
    <div class="work-grid">
      {% assign work_pages = site.pages | where: "layout", "work" | sort: "order" %}
      {% for work in work_pages %}
        <a href="{{ work.url }}" class="work-item">
          <div class="work-header">
            {% if work.logo %}
              <img src="{{ work.logo }}" alt="{{ work.title }} logo" class="work-logo">
            {% endif %}
            <div class="work-info">
              <p class="work-title">{{ work.title }}</p>
              <p class="work-meta">{{ work.role }}, {{ work.date-range }}</p>
            </div>
          </div>

          {% if work.highlights %}
          <div class="work-highlights">
            <h3>✨ Highlights</h3>
            <p>{{ work.highlights }}</p>
          </div>
          {% endif %}
        </a>
      {% endfor %}
    </div>
    <p><a target="_blank" title="Email Liam" href="mailto:liam@liamgreig.com">Get in touch</a> to to learn more about my recent work and case studies.</p>
  </div>
</div>

<div class="methods-showcase">
  <h2>Snippets</h2>
  <div class="methods-grid">
    {% assign method_pages = site.pages | where: "layout", "method" | sort: "order" %}
    {% for method in method_pages %}
      <a href="{{ method.url }}" class="method-item" style="--method-color: {{ method.color }}">
        <div class="method-header">
          <span class="method-icon">
            <img src="{{ method.icon }}" alt="{{ method.title }} icon">
          </span>
        </div>
        <div class="method-content">
          <p class="method-title">{{ method.title }}</p>
          <p class="method-description">{{ method.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
